*{
  padding: 0;
  margin: 0;
  max-width: 100%;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

.navbar{padding-right: 20px;}

#title{color: orangered;}

h2{padding: 40px; text-align: center; padding-right: 330px;}

h3{text-align: center; padding-top: 70px;}

body{ background-size: cover;}

.login{margin-top: 50px; margin-left: 270px;
       font-weight: bold;}

.signup{margin-left: 19em;}

.form-group{margin-left: 200px;}

.plsfill{margin-left: 190px;}

.already{padding-left: 195px;}

.hint-text{color: white;
           margin-left: 19em;}

.plus{color: white;}

.arrow{padding: 60px;}

a:hover{
    transition: 0.4s ease-in-out;
    text-shadow: 2px 2px 4px blueviolet;
    filter: grayscale(100%);
       }

footer{
    background-color: burlywood;
    height: 150px;
      }

.home-list{margin-left: 200px;}

.image-parent{padding-left: 20px;}

p{
  font-size: 20px;
  text-align: justify;
 }

img{border-radius: 5px;}

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
      
  @keyframes animate-fade {
      0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .animate.pop {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
  }
  
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
          
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
  
  .delay-1 {animation-delay: 0.6s;}
      
  .delay-2 {animation-delay: 0.7s;}
      
  .delay-3 {animation-delay: 0.8s;}